<div class= "game_show">
  <h1>My Comments</h1>
  <% current_user.comments.each do |comment| %>
  <ul class= "comment_list">
    <li>
      Game: <%= comment.game.title %>
      <br/>
      Comment: <%= comment.comment %>
      <br/>
    </li>
  </ul>
  <% end %>
</div>