<% name = current_user.present? ? ", #{current_user.name}" : ", click Sign In to continue" %>
<div class= "home_index">
  <h1>Welcome<%= name %></h1>
</div>
<div class= "home_index">
  <p>Welcome to the Video Game Reviewer App</p>
  <p>Browse games, add games, and leave comments on those games!</p>
</div>