/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-image: url("pacman.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
  color: white;
}

.index_game_pictures {
  width: 200px;
  height: auto
}

.game_cards{
  background: lightgrey;
  text-align: center;
  padding: 20px;
  margin: 20px;
  display: inline-block;
  color: black;
  list-style-type: none;
  box-shadow: 5px 3px rgb(127 , 210, 236);
}

.game_view_button{
  border-radius: 2px;
  background-color: rgb(127 , 210, 236);
}

.new_game_form {
  margin: 1.25em;
  text-align: center;
  padding: 1.25em;
  display: grid;
}
.new_game_title {
  text-align: center;
}

.home_index {
  text-align: center;
}

.sign_up {
  text-align: center;

}

.field {
  margin-bottom: 20px;
}

.log_in {
  text-align: center;
}
.game_show {
  text-align: center;
}
.game_comments {
  list-style-type: none;
  background-color: rgb(22, 22, 22);
  padding: 1.25em;
}
.comment_list{
  list-style-type: none;
  background-color: rgb(22, 22, 22);
  padding: 1.25em;
}